[submodule "backend"]
	path = backend
	url = https://github.com/marcosChalet/daily-report-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/marcosChalet/daily-report-frontend.git
